.expiredSymbol {
  background : #999;
}

body {
  background-color: #ccc;
  min-height: 2000px;
}

#main {
  padding: 1%;
}

.block-bg {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.navbar-static-top {
}